@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat+Subrayada&family=Roboto:wght@100&display=swap');         body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bank-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #333;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
  }

  h2 {
    color: #333;
    margin-top: 30px;
  }

  p {
    margin: 10px 0;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  button:hover {
    background-color: #0056b3;
  }

  #savingsAccount,
  #checkingAccount {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }

  #savingsBalance,
  #checkingBalance {
    font-weight: bold;
    font-size: 18px;
  }

  .alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-top: 10px;
    display: none;
  }